@page
@using Admin
@model Admin.AdminPageModel
@{
    ViewData["Title"] = "AdminPage";
}
@Html.AntiForgeryToken();

<head>
    <link href="~/css/bootstrapIndex.css" rel="stylesheet" />
    <link href="css/about.css" rel="stylesheet" />
    <script src="lib/jquery/dist/jquery.js"></script>

</head>

<h1>Hello Admin!</h1>
@*@foreach (var user in Model.OnGetUsers())
    {
        <table>
        <tr>
            <th>@user.FirstName</th>
        </tr>
        </table>
    }*@
