@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Reset authenticator key";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" model="Model.StatusMessage"/>
<h1 style="color: white; font-size: 25px;">@ViewData["Title"]</h1>
<div class="flex" style="background-color: rgba(0, 0, 0, 0.3); border-radius: 7px; padding: 20px; margin: 20px; position: relative;">
    <div id="goBackReset" style="position: absolute; top: 5px; right: 5px;">
        <a href="/Identity/Account/Manage/TwoFactorAuthentication">Go Back</a>
    </div>
    <div class="alert alert-warning" role="alert" style="margin-top: 20px;">
        <p>
            <span class="glyphicon glyphicon-warning-sign"></span>
            <strong>If you reset your authenticator key your authenticator app will not work until you reconfigure it.</strong>
        </p>
        <p>
            This process disables 2FA until you verify your authenticator app.
            If you do not complete your authenticator app configuration you may lose access to your account.
        </p>
    </div>
    <div>
        <form id="reset-authenticator-form" method="post" class="form-group">
            <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Reset authenticator key</button>
        </form>
    </div>
</div>