.activeItem {
    color: white !important;
}

img {
    border-radius: 50%;
    float: left;
    width: 400px;
    height: 400px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
}

@@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: hsla(27, 34%, 65%, 0.2);
    color: azure;
    padding-top: 0.5cm;
    border-radius: 10px;
}

    .card:hover {
        background-color: hsla(209, 19%, 28%, 0.8);
    }

.container {
    padding: 0 16px;
    max-width: 98%;
    min-width: 80%;
    margin-top: 2cm;
}

    .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
    }

.title {
    color: azure;
}

.button {
    border: none;
    border-radius: 5px;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: hsla(35, 92%, 75%, 0.7);
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.jumbotron {
    background-color: hsla(27, 34%, 65%, 0.2);
    color: azure;
    border-radius: 10px;
}

.about-sector {
    display: flex;
    width: 100%;
}

.about-sector-column {
    width: 25%;
    padding: 10px;
}

.button:hover {
    background-color: indianred;
}

#ourTeamHeading {
    text-align: center;
    color: azure;
    text-align: left;
    padding: 20px;
}
