html, body {
    background: url('../images/aeroplane-aircraft-airplane-8394.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed
}
