/*.container {
    /*background-color: hsla(27, 34%, 65%, 0.2);*/
/*}*/

body{
    color: azure;
}
.profile-sector {
    display: flex;
    width: 100%;
    background-color: hsla(28, 22%, 83%, 0.8);
    color: black;
    padding: 3vh;
    border-radius: 10px;
    margin: 3vh;
}
input {
    border-radius: 10px;
    padding: 2%;
    background-color: hsla(0,0%,100%, 0.7);
    margin: 1vh;
}

.profile-sector-column {
    float: left;
    width: 33%;
    margin-bottom: 16px;
    padding: 0 8px;
}
img {
    float: left;
    width: 50vh;
    height: 400px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    padding-bottom: 3vh;
    padding-right: 5vh;
}

@media screen and (max-width: 650px) {
    .column {
     display: block;
    }
}
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
h3, h5 {
    padding-bottom: 2vh;
}
.button{
    border: none;
    border-radius: 5px;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: hsla(35, 92%, 75%, 0.7);
    text-align: center;
    cursor: pointer;
    width: 70%;
}
.button:hover{
    background-color: indianred;
}

.middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .usrImgContainer:hover .image {
        opacity: 0.3;
    }

    .usrImgContainer:hover .middle {
        opacity: 1;
    }

    .image {
        opacity: 1;
        display: block;
        width: 100%;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .input-file-container {
        position: relative;
        width: 225px;
    }
.js .input-file-trigger {
    display: block;
    padding: 14px 45px;
    background: lightseagreen;
    border-radius: 7px;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}
    .js .input-file {
        position: absolute;
        top: 0; left: 0;
        width: 225px;
        opacity: 0;
        padding: 14px 0;
        cursor: pointer;
    }
    .js .input-file:hover + .input-file-trigger,
    .js .input-file:focus + .input-file-trigger,
    .js .input-file-trigger:hover,
    .js .input-file-trigger:focus {
        background: #34495E;
        color: #39D2B4;
    }

    .file-return {
        margin: 0;
    }
    .file-return:not(:empty) {
        margin: 1em 0;
    }
    .js .file-return {
        font-style: italic;
        font-size: .9em;
        font-weight: bold;
    }
    .js .file-return:not(:empty):before {
        content: "Selected file: ";
        font-style: normal;
        font-weight: normal;
    }
#myAccountContainer {
    
    position: relative;
}



.travelerBtn {
    padding: 3px;
    margin-right: 3px;
}

.travelerCard {
    position: absolute;
    z-index: 1000;
    display: none;
    color: black;
    width: 400px;
}

.travelerForm {
    display: none;
}

.passportForm {
    display: none;
}

.passportBtn {
    
}

.passportAddCard li {
    padding: 2px;
    height: 73px;
    border-bottom: 0;
}
