@font-face {
    font-family: 'BebasNeue';
    src: url('BebasNeueFont/BebasNeue Regular.otf'); /* IE9 Compat Modes */
    src: url('BebasNeueFont/BebasNeue Regular.otf') format('embedded-opentype'), /* IE6-IE8 */
    url('BebasNeueFont/BebasNeue Regular.otf') format('woff2'), /* Super Modern Browsers */
    url('BebasNeueFont/BebasNeue Regular.otf') format('woff'), /* Pretty Modern Browsers */
    url('BebasNeueFont/BebasNeue Regular.otf') format('truetype'), /* Safari, Android, iOS */
    url('BebasNeueFont/BebasNeue Regular.otf') format('svg'); /* Legacy iOS */
}

.ticketContainer{
    margin-left: 50px;
    margin-right: 50px;
}


