@font-face {
    font-family: 'BebasNeue';
    src: url('BebasNeueFont/BebasNeue Regular.otf'); /* IE9 Compat Modes */
    src: url('BebasNeueFont/BebasNeue Regular.otf') format('embedded-opentype'), /* IE6-IE8 */
    url('BebasNeueFont/BebasNeue Regular.otf') format('woff2'), /* Super Modern Browsers */
    url('BebasNeueFont/BebasNeue Regular.otf') format('woff'), /* Pretty Modern Browsers */
    url('BebasNeueFont/BebasNeue Regular.otf') format('truetype'), /* Safari, Android, iOS */
    url('BebasNeueFont/BebasNeue Regular.otf') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: BebasNeue;
    src: url("BebasNeueFont/BebasNeue Regular.otf")
}



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    border-radius: 7px;
    text-align: left;
    padding: 8px;
}

.userTrip{
    color: black;
}

.ticketOverall{
    margin-top: 15px;
}

.ticketOverall label{
    font-weight: bold;
    font-size: 0.8rem;
    margin: 0;
}

.bookingReferenceResults{
    padding: 20px;
    margin: 0px;
    margin-bottom: 10px;
    color: black; 
    border-radius: 7px;
    background: hsla(28, 22%, 83%, 0.8);

}
.itineraryIDSearchBox{
    background: hsla(28, 22%, 83%, 0.8);
    border-radius: 7px;
    color: black;
    font-size: 20px !important;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
p{
    font-weight: 500;
    font-size: 20px;
}
.ticketContainer{
    margin-left: 50px;
    margin-right: 50px;
}
.tripHeading {
    color: white;
}
hr.thickLine {
    width: 120%;
    height: 12px;
    border-top: 1px solid black;
    margin-bottom: 0;
}
.dates {
    border: 1px solid white;
    border-radius: 7px;
    max-width: 200px;
    text-align: center;
    padding: 2px;
    background-color: white;
    font-family: BebasNeue;
}
.datesHeading {
    padding: 0;
    margin: 0;
    color: #fa3f2d;
}
.itineraryDuration {
    color: white;
    font-size: 20px;
}

.itineraryObject {
    margin-bottom: 100px;
}
img{
    margin-left: 20px;
    margin-right: 20px;
    width: 60px;
    height: 60px;
}
.ticket-col{
    border: dashed 2.5px black !important;
    border-radius: 5px !important;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    width: 50%;
    align-self: center;
    padding-left: 20px;
    background-image: url('/images/animated plane ver 2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
      
}
.in-or-outbound{
    background: #f6f346;
}
.flight-leg-text{
    color: black;
    font-size: 30px;
    font-weight: 700;
    align-self: center;
    margin-right: 20px;
}






