.orderForm {
    color: white;
    
}
.orderContainer {
    border: 1px solid black;
    border-radius: 7px;
    background: rgba(15, 15, 15, 0.8);
    padding: 20px;

}
.priceSpan {
    color: green;
}
