.orderForm {
    color: black;
    
}
.orderContainer {
    border-radius: 7px;
    background: hsla(28, 22%, 83%, 0.5);
    padding: 20px;

}
.priceSpan {
    color: green;
}
h1, h2, h4{
    color: black;
}

