@page 
@model IndexModel
@{
    ViewData["Title"] = "Vancouver Flights";
}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="~/js/datepicker/dist/datepicker.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.1/fuse.min.js"></script>
    <link href="~/css/airportAC.css" rel="stylesheet" />
    <link href="~/css/bootstrapIndex.css" rel="stylesheet" />
    <link href="~/js/datepicker/dist/datepicker.css" rel="stylesheet" />
    <link href="~/css/acrylicMaterial.css" rel="stylesheet" />
    @Html.AntiForgeryToken()
</head>
<body>
    <div id="searchBar" class="container vertical-center flightSearchBox">
        <div>
            <div class="row align-items-center" style="padding-top: 3px; padding-bottom: 3px;">
                <div class="col-auto" style="margin-left:3px">
                    <label class="sr-only" for="autocompleteDepart">Departure</label>
                    <input autocomplete="off" type="text" name="departureField" class="form-control js_airports_auto_complete" id="autocompleteDepart" placeholder="Departure">
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="autocompleteArrive">Arrival</label>
                    <input autocomplete="off" type="text" name="arrivalField" class="form-control js_airports_auto_complete" id="autocompleteArrive" placeholder="Arrival">
                </div>
                <div class="col-auto" style="margin-left: 3px">
                    <label class="sr-only" for="datepickerOutbound">Outbound</label>
                    <input autocomplete="off" type="text" name="outboundDate" class="form-control" data-toggle="datepicker" id="datepickerOutbound" placeholder="Outbound">
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="datepickerInbound">Inbound</label>
                    <input autocomplete="off" type="text" name="inboundDate" class="form-control" data-toggle="datepicker" id="datepickerInbound" placeholder="Inbound">
                </div>
            </div>
            <div class="row align-items-center" style="padding-bottom: 3px;">
                <div class="col-auto" style="margin-left: 3px">
                    <select class="form-control" id="fareClass" autocomplete="off">
                        <option selected="selected" value="ECONOMY">Economy Class</option>
                        <option value="PREMIUM_ECONOMY">Premium Economy Class</option>
                        <option value="BUSINESS">Business Class</option>
                        <option value="FIRST">First Class</option>
                    </select>
                </div>
                <div class="col-auto">
                    <select class="form-control" id="fareOption" onchange="selectChangedDatepicker()" autocomplete="off">
                        <option selected="selected" val="1">Round Trip</option>
                        <option val="2">One Way</option>
                    </select>
                </div>
                <div class="col-auto" style="margin-left: 1px">
                    <select class="form-control" id="passengers" autocomplete="off">
                        <option selected="selected">1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                    </select>
                </div>
                <div class="col-auto">
                    <select class="form-control" id="fareCurrency" autocomplete="off">
                        <option selected="selected">EUR</option>
                        <option>USD</option>
                    </select>
                </div>
                <div class="col-auto" style="margin-left: 1px" id="searchFlights">
                    <button class="btn btn-primary" id="searchBtn">Search</button>
                </div>
            </div>
        </div>
    </div>


    <div id="flightResults" class="vertical-center" style="margin-top: 25px;">
    </div>



    <div id="loading" class="d-flexLoading align-items-center justify-content-center h-100" style="margin-top: 80px; display: none !important;">

        <div id="made-with-love" style="height: 150px; width: 150px;">
            <svg version="1.1" id="L3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
            <circle fill="none" stroke="#fff" stroke-width="4" cx="50" cy="50" r="44" style="opacity:0.5;" />



            <circle fill="#fff" stroke="#e74c3c" stroke-width="3" cx="8" cy="54" r="6">
            <animateTransform attributeName="transform"
                              dur="2s"
                              type="rotate"
                              from="0 50 48"
                              to="360 50 52"
                              repeatCount="indefinite" />

            </circle>
        </svg>
        </div>
    </div>

    <div id="errorMessage" style="display: none">
        <h2 style="color: white;">You broke it...</h2>
        <img src="~/images/sad.png" />
    </div>


    <script>
        $(window).scroll(function (event) {
            var scrollPosition = $(window).scrollTop();

            if (scrollPosition > 80) {
                $('#searchBar').removeClass('flightSearchBox');
                $('#searchBar').addClass('fixedFlightSearchBox vertical-center');
            } else {
                $('#searchBar').removeClass('fixedFlightSearchBox');
                $('#searchBar').addClass('flightSearchBox');
            }
        });
    </script>



    <script>
        $(document).ready(function () {
            $('#loading').hide();
            $('#flightResults').hide();
            $('#errorMessage').hide();
            $('#searchBar').removeClass('fixed');
            $('#fareOption').click(function selectChangedDatepicker() {
                if ($('#fareOption').val() == "One Way") {
                    $('#datepickerInbound').val('');
                    $('#datepickerInbound').attr('disabled', true);
                } else {
                    $('#datepickerInbound').attr('disabled', false);
                }
            });
        });
    </script>

    <script src="~/js/searchFlights.js"></script>
    <script src="~/js/showFlightDetails.js"></script>
    <script src="~/lib/jquery.md5.js"></script>
    <script src="~/js/datepicker/flightDatepicker.js"></script>
    <script src="~/js/airportsAutoComplete.js"></script>
</body>
</html>





