@page
@model IndexModel
    @{
        ViewData["Title"] = "Vancouver Flights";
    }


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="~/js/datepicker/dist/datepicker.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.1/fuse.min.js"></script>
    <link href="~/css/airportAC.css" rel="stylesheet" />
    <link href="~/css/bootstrapIndex.css" rel="stylesheet" />
    <link href="~/js/datepicker/dist/datepicker.css" rel="stylesheet" />
    
</head>
<body>
<div class="vertical-center">
    <form method="post" autocomplete="off">
        <div class="row align-items-center" style="margin-top: 250px; background-color: rgba(0, 0, 0, 0.3); border-radius: 7px; padding-top: 3px; padding-bottom: 3px;">
            <div class="col-auto" style="padding-left:8px">
                <label class="sr-only" for="autocompleteDepart">Departure</label>
                <input type="text" name="departureField" class="form-control js_airports_auto_complete" id="autocompleteDepart" placeholder="Departure">
            </div>
            <div class="col-auto">
                <label class="sr-only" for="autocompleteArrive">Arrival</label>
                <input type="text" name="arrivalField" class="form-control js_airports_auto_complete" id="autocompleteArrive" placeholder="Arrival">
            </div>
            <div class="col-auto">
                <label class="sr-only" for="datepickerOutbound">Outbound</label>
                <input type="text" name="outboundDate" class="form-control" data-toggle="datepicker" id="datepickerOutbound" placeholder="Outbound">
            </div>
            <div class="col-auto">
                <label class="sr-only" for="datepickerInbound">Inbound</label>
                <input type="text" name="inboundDate" class="form-control" data-toggle="datepicker" id="datepickerInbound" placeholder="Inbound">
            </div>
            <div class="col-auto" style="margin: 1px">
                <select class="form-control" id="passengers">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>
            </div>
            <div class="col-auto" style="margin-left: 25px">
                <button type="submit" asp-handler="SubmitHandler" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
    
    @{
        var departure = Request.Form["departureField"];

    }
    
    
</div>
    

    

<script src="~/js/datepicker/flightDatepicker.js"></script>
<script src="~/js/airportsAutoComplete.js"></script>
</body>
</html>





