@page
@model MyAccountModel
@{
    ViewData["Title"] = "MyAccount";
}

<head>
    <link href="~/css/bootstrapIndex.css" rel="stylesheet" />
    <link href="css/myAccount.css" rel="stylesheet"/>
    <script src="lib/jquery/dist/jquery.js"></script>
</head>

<body>

<div class="container">
     <div class="profile-sector">
            <div class="profile-sector-column">
                 <img src="/images/Grete.jpg" alt="Grete">
            </div>
            <div class="profile-sector-column">
                <h3>Profile</h3>
                <h5>Name</h5>
                <h5>Email</h5>
                <h5>Favourite destinations</h5>
                <button class="button">Change Profile</button>
            </div>
        </div>
</div>
</body>

