@page
@model MyAccountModel
@{
    ViewData["Title"] = "MyAccount";
}

<head>
    <link href="~/css/bootstrapIndex.css" rel="stylesheet" />
    <link href="css/myAccount.css" rel="stylesheet"/>
    <script src="lib/jquery/dist/jquery.js"></script>
</head>

<body>

<div class="container">
    <h3>My Account</h3>
    <p>Name:</p>
</div>



</body>

