@page

@using CustomerFolder
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Server.Kestrel.Core.Features
@using Models
@model MyAccountModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "MyAccount";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager 

<head>
    <link href="~/css/bootstrapIndex.css" rel="stylesheet" />
    <link href="css/myAccount.css" rel="stylesheet" />
    <script src="lib/jquery/dist/jquery.js"></script>
</head>

<body>
    <div class="container">
        <div class="profile-sector">
            <div class="profile-sector-column">
                <img class="" src="~/uploads/usrImg/@UserManager.GetUserAsync(User).Result.UserPhoto" alt="Grete">
            </div>
            <div class="profile-sector-column">
                <div>Full name</div>
                <div style="font-size: 18px;">@UserManager.GetUserAsync(User).Result.FirstName @UserManager.GetUserAsync(User).Result.LastName</div>
                <hr />
                <div>Email</div>
                <div style="font-size: 18px;">@UserManager.GetUserAsync(User).Result.Email</div>
                <hr />
                <div>Phone number</div>
                <div style="font-size: 18px;">@UserManager.GetUserAsync(User).Result.PhoneNumber</div>
                <hr />

                <div>Favourite destinations </div>
                <hr />
                <a class="btn btn-dark" href="/Identity/Account/Manage">Manage Profile</a>
                <form method="post" enctype="multipart/form-data">
                    <input type="file" asp-for="Upload" />
                    <input type="submit" />
                </form>
                @*Kuidas teha js-iga nii et alles buttonile clickides tuleks mmuutmise form lahti?*@
            </div>
            <div class="profile-sector-column">
                
            </div>
        </div>
        
   </div>
</body>

