@page 
@model MyAccountModel
@{
    ViewData["Title"] = "MyAccount";
    var customers = ViewData["CustomersFromModel"];
}
@*page "{id}"*@
<head>
    <link href="~/css/bootstrapIndex.css" rel="stylesheet" />
    <link href="css/myAccount.css" rel="stylesheet" />
    <script src="lib/jquery/dist/jquery.js"></script>
</head>

    <body>

    <div class="container">
        <div class="profile-sector">
            <div class="profile-sector-column">
                <img src="/images/Grete.jpg" alt="Grete">
            </div>
            <div class="profile-sector-column">
                <h3>Profile</h3>
                <form method="post">
                    <label asp-for="FirstName"></label> <input type="text" asp-for="FirstName" style="background-color: white;"/><br>
                    <label asp-for="LastName"></label> <input type="text" asp-for="LastName" style="background-color: white;"/><br>
                </form>
                <h5>Email</h5>
                <h5>Favourite destinations </h5>
                <input type="submit" class="button" value="Change Profile" onclick=""/>
                @*Kuidas teha js-iga nii et alles buttonile clickides tuleks mmuutmise form lahti?*@


            </div>
        </div>

    </div>

    </body>

